<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=.\MYSERVER;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    <!--<add name="hrm_contact" connectionString="Data Source=.;Initial Catalog=hrm_contact;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->
    <add name="hrm_contact" connectionString="Data Source=.;Initial Catalog=hrm_contact;UID=sa;PWD=123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AJAXFriendly">
          <enableWebScript/>
        </behavior>
        <behavior name="RESTFriendly">
          <webHttp/>
        </behavior>
        <behavior name="ContactServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="TimeTrakkerServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="HRService">
        <endpoint address="" behaviorConfiguration="AJAXFriendly" binding="webHttpBinding" contract="HRService"/>
      </service>
      <service behaviorConfiguration="TimeTrakkerServiceBehavior" name="RESTHRService">
        <endpoint address="" behaviorConfiguration="RESTFriendly" binding="webHttpBinding" contract="IRESTHRService"/>
      </service>
      <service behaviorConfiguration="TimeTrakkerServiceBehavior" name="HRMContactService">
        <endpoint address="" behaviorConfiguration="RESTFriendly" binding="webHttpBinding" contract="IHRMContactService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>