<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.com.misa.hrm_contact"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/hrm_logo"
        android:label="@string/app_name" android:debuggable="true" android:description="@string/app_des">
        <activity
            android:name=".Hrm_contactActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewContact"
                   android:label="New Contact">
           <intent-filter>
           <action android:name="android.intent.action.VIEW" />
           <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
         </activity>
         <activity android:name=".activity.DemoActivity"
                   android:label="Demo Activity">
           <intent-filter>
           <action android:name="android.intent.action.VIEW" />
           <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
         </activity>
         <activity android:name=".activity.ContactActivity"
                   android:label="Contacts">
           <intent-filter>
           <action android:name="android.intent.action.VIEW" />
           <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
         </activity>
    </application>

</manifest>